*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: #0b022d;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    transition: 0.5s;
    z-index: 1000;

}
.sticky{
    background: #0d153a;
    box-shadow: 0.5px 10px rgba(0,0,0,0.1);
}
header .logo{
    position: relative;
    color: aliceblue;
    text-decoration:none ;
    font-weight: 700;
    font-size: 2em;
}
.xx {
    display: flex;
    justify-content: center;
    align-items: center;
}
  


header ul li {
    list-style: none;
    margin: 10px;

}
header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px ;
    border-radius: 5px;
}
header ul li a:hover{
    background: #5196ce;
    color: #0b022d;
    box-shadow: 0 0 10px #5196ce;
}
header .action .searchbx{
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius:5px ;
}
header .action .searchbx input{
    outline: none;
    border: none;
    font-size: medium;
    color: #222;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    padding:0px 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner .bg .cont{
    width: 99%;
    height: 30%;

}
.banner .bg .cont h2{
    font-size: 4em;
    color: #fff;
    letter-spacing:1px ;

}
.banner .bg .cont a{
    display: inline-block;
    padding: 10px 20px ;
    margin: 20px 0px;
    border: #5196ce solid 1px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.banner .bg img{
    width: 100%;
    height: 85%;
    margin: 150px 8px 40px 35px;
    object-fit: cover;
    border-radius: 26px;
    overflow: hidden;
    display: block;
    display: block;
  
  border-radius: 25px; /* Adjust border radius as needed */
  box-shadow: 0 0 29px rgba(0, 153, 255, 0.5);
   
  

}

    



.banner .bg .cont a:hover{
    background: #5196ce;
    border: none;
    color: #0b022d;
    box-shadow: 0 0 10px #5196ce;
}
.about{
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 40px 90px;
    justify-content: space-between;
    
    display: flex;
    height:30px;
    
}

.about .box{
    width: 70%;
    margin: 30px;

}
.about .box h2{
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}
.about .box  p{
    max-width: 600px;
    text-align: justify;
    color: #dbd9d9;
}
.c{
    display: block;
    
  
  border-radius: 25px; /* Adjust border radius as needed */
  box-shadow: 0 0 30px rgba(96, 5, 148, 0.5);
   
   
    
    margin: 40px 70px -50px 0px;
}
.about .box a{
    display: inline-block;
    padding: 10px 20px ;
    margin: 20px 0px;
    border: #5196ce solid 1px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.about .box a:hover{
    background: #5196ce;
    border: none;
    color: #0b022d;
    box-shadow: 0 0 10px #5196ce;
}
.aa{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.aa .bb{
    width: 200px;
    border-radius: 10px;
    margin: 70px 20px;
    background: #0b022d;
    overflow: hidden;
    
}
.aa .bb img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    display: block;
  
  
   
}


    


.aa .bb .contt{
    padding: 10px;
}
.aa .bb .contt h4{
    color: #fff;
    margin: 5px -10px;
}


.aa .bb .contt .info{
    border-top: 2px solid #0d153a;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aa .bb .contt .info p{
    font-size: 1em;
    color: #fff;
    margin: 15px -15px;
}
.aa .bb .contt .info a{
    display: inline-block;
    padding: 10px 8px ;
    margin: 15px -15px;
    border: #5196ce solid 1px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.aa .bb .contt .info a:hover{
    background: #5196ce;
    border: none;
    color: #0b022d;
    box-shadow: 0 0 10px #5196ce;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}
footer{
    background: #0b022d;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #5196ce;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #5196ce;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

    
    

