/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: "Kanit", sans-serif;
font-weight: 300;
    
}
body{
    background-color: #3a0000;
    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 3% ;
    transition: all .50s ease;
    background-color: rgb(0, 0, 0);
   
}

.logo{
    width: 65px;
   cursor: pointer;
    left: 48%;
    position: fixed;
}

.navbar {
    display: flex;
   

}

.navbar a{
    padding-left: 30px;
    color: aliceblue;
    font-size: 19px;
    font-weight: 400;
    
}

.nav-icons{
    display: flex;
    align-items: center;
    padding: 22px 15px;
    
   
}
.nav-icons i{
    vertical-align: middle;
    font-size: 24px;
    color: #ffffff;
    margin-right: 8px;
    margin-left: 14px;
    transition: all .50s ease;
}


.nav-icons a span{
    background-color: rgb(255, 255, 255);
    padding: 0px 4px;
    border-radius: 50px;
    position: fixed;
    right: 110px;
    top: 17px;
    color: black;
    font-size: 12px;
    
    

}


.slider-wrapper{
    
    position: relative;
    top: 110px;
    
}
.sec{
    padding: 20px;
}
.sec h1{
    color: #ccc;
    
    font-size: 170px;
    
    text-align: center;
    margin-top: 40px;
}

.sec .image {
    position: relative;
    bottom: 75px;
}
 .sec .image img{
    width: 100%;
    height: 440px;
    border-radius: 60px;
    object-position: top center;
    box-shadow: 0 -20px 40px #3a0000;
    
}
.text{
    font-size: 40px;
    text-align: center;
    color: #ccc;
    font-weight: 600;
    position: relative;
    bottom: 20px;
}

.row{
    position: relative;
    padding: 10px 10px 50px;
    background-color: rgb(75, 0, 0); 
    border-radius: 3rem;
    transition: all .50s ease;
    
}

.atata{
    padding: 50px  6% 20px ;
}

.shop-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
    
}
.row img{
    width:80%;
    height: auto;
    cursor: pointer;
    margin-top: 23px;
    margin-left: 27px;
    border-radius: 20px;
}
.row h3{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #ccc;
    padding-top: 10px;
}

.in-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 35px;
   
}

.in-text .price h6{
    font-size: 18px;
    font-weight: 700;
    color: #ccc;
    margin-left:5px ;
    
}

.in-text .btn a{
    display: inline-block;
    padding: 9px 23px ;
    background: #3a0000;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4rem;
    transition: all .50s ease;
    color:#ccc;
    

}

.in-text .btn a:hover{
    color: #3a0000;
    background: #ccc;
    box-shadow: 0 1px 25px #ccc;

}

 .top-icons .logoo{
    width: 30px;
    position: relative;
    bottom: px;
    left: 58px;
} 

.more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
   
    
}
.more a{
    font-size: 50px;
    color: #ccc;

}